node_modules/
ProjectName/node_modules/
ProjectName/ios/
ProjectName/android/
ProjectName/app/
public/js

.clj-kondo

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.lsp
.yarn
.cpcache

.hgignore
.hg/
